html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica,Arial,Sanserif;
    background: white;
}

#giocatori {
    top: 210px;
    left: 4%;
    position: absolute;
}

#container {
    top: 220px;
    left: 4%;
    position: absolute;
}

.abilita {
    width: 100px;
    height: 40px;
    opacity: 0;    
}

.disabilita {
    width: 100px;
    height: 40px;
    opacity: 0.8;
    background-color: white;
}

form {
    top: 40px;
    left: 5%;
    width: 50%;
    position: absolute;
}

label {
    width: 20%;
    font-weight: bold;
    display: inline-block;
}
input {
    width: 78%;
}
#accenti {
  width: 2%;   
}

#autore, #risp0 {
  margin-bottom: 30px;
} 

#testo {
    top: 40px;
    left: 60%;
    width: 35%;
    height: 80vh;
    position: absolute;
}

#istruzioni {
    top: 90vh;
    left: 60%;
    position: absolute;
}
