html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "PT Sans",Helvetica,Arial,Sanserif;
    background: grey;
    color: white;
}

.campo {
width: 300px;
background-color: #404040;
}

.etichetta {
margin-left: 30px;
width: 100px;
}

#modello {
display: inline-block;
margin: 10px;
width: 480px;
background-color: black;
position: relative;
padding-bottom: 30px;
padding-top: 20px;
}


#genera {
float:right;
margin-right: 30px;
}

.bottone {
background-color: #ff8c00;
}

.bottone:hover {
background-color: orange;
cursor: pointer;
}

.campo, .etichetta, .bottone {
padding: 5px;
margin-top: 10px;
display: inline-block;
}

#titolo,  #risp0, #risp8 {
margin-bottom:20px;
}


#testo {
display: inline-block;
width: 480px;
position: relative;
background-color: black;
color: white;
padding-bottom: 30px;
margin: 10px;
padding-top: 30px; 
}

#completo {
width: 420px;
margin-left: 30px;
margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}
